<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://ec2-174-129-9-255.compute-1.amazonaws.com:3306/adzappy</property>
        <property name="hibernate.connection.username">dbadzappy</property>
        <property name="hibernate.connection.password">12345</property>
    
      <!--     hibernate c3p0 settings   -->
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">3</property>
        <property name="hibernate.c3p0.idle_test_period">10</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">75</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.timeout">25200</property>
        <property name="hibernate.c3p0.preferredTestQuery">select 1</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
        <!--  hibernate cache settings   -->
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
              
        <mapping resource="model/CampaignOs.hbm.xml"/>
        <mapping resource="model/CampaignCreative.hbm.xml"/>
        <mapping resource="model/User.hbm.xml"/>
        <mapping resource="model/ReportrDaily.hbm.xml"/>
        <mapping resource="model/ReportPublish.hbm.xml"/>
        <mapping resource="model/CampaignDemography.hbm.xml"/>
        <mapping resource="model/UserDetails.hbm.xml"/>
        <mapping resource="model/Campaign.hbm.xml"/>
        <mapping resource="model/UserTransaction.hbm.xml"/>
        <mapping resource="model/CampaignLocation.hbm.xml"/>
        <mapping resource="model/Publish.hbm.xml"/>
        <mapping resource="model/PaymentDetails.hbm.xml"/>
        <mapping resource="model/CampaignDevice.hbm.xml"/>
        <mapping resource="model/ReportCampaign.hbm.xml"/>
        <mapping resource="model/UserAccount.hbm.xml"/>
        <mapping resource="model/ReportcDaily.hbm.xml"/>
        <mapping resource="model/Adrate.hbm.xml"/>
        <mapping resource="model/TempUser.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
