<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
        </layout> 
    </appender>

    <appender name="CA" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/myapp/adzappy.txt"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
              <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
        </layout>
    </appender>
    <appender name="DE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="C:/myapp/Adzappy_daily"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss:SSS} - %p - %C{1} - %m%n"/>
        </layout>
    </appender>
   
 
    <!-- specify the logging level for loggers from other libraries -->
    <logger name="com.opensymphony">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.struts2">
        <level value="INFO" />
    </logger>
    <logger name="org.hibernate">
        <level value="INFO" />
    </logger>
     <logger name="freemarker.cache">
        <level value="OFF" />
    </logger>
    <logger name="freemarker.beans">
        <level value="OFF" />
    </logger>
    <!--  <logger name="com.mchange">
        <level value="INFO"/>
    </logger>
    <logger name="net.sf.ehcache">
        <level value="INFO"/>
    </logger>-->
   <!-- for all other loggers log only info and above log messages -->
    <root>
        <priority value="DEBUG"/> 
        <appender-ref ref="STDOUT" /> 
        <appender-ref ref="CA" /> 
        <appender-ref ref="DE" /> 
    </root> 
    
</log4j:configuration> 