body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background:url(indeximages/head_bg1.jpg) repeat-x;
    font-family:Arial;
    font-size:11px;	
    text-align:left;	
}

.container {
    float:left;
    margin-left:177px;
    width:990px;
    height:738px;
}

.container1 {
    float:left;
    margin-left:177px;
    width:990px;
    height:907px;
}

.header {
    float:left;
    margin:0;
    width:990px;
    height:99px;
}	

.logo {
    float:left;
    width:990px;
    height:49px;
    margin-top:17px;
}

.navbar {
    float:left;
    width:990;
    height:24px;
}

.menu {
    float:left;
    margin-left:687px;
    width:302px;
    height:24px;
}

.content_main {
    float:left;
    margin:0;
    width:990px;
    height:639px;
}

.content_marketplace {
    float:left;
    margin:0;
    width:990px;
    height:808px;
}

.content1 {
    float:left;
    margin-top:17px;
    width:990px;
    height:256px;
}

.content_mkt1 {
    float:left;
    margin-top:17px;
    width:990px;
    height:305px;
}

.content_mkt2 {
    float:left;
    margin-top:10px;
    width:990px;
    height:476px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: top;
}

.cont_mkt03 {
    float:left;
    margin:0;
    width:738px;
    height:447px;
}

.mkt_rht {
    float:left;
    margin:-447px 0 0 366px;
    width:372px;
    height:447px;
    padding-right:2px;
}

.mkt_lft {
    float:left;
    margin:0;
    width:365px;
    height:447px;
}

.cont_mkt04 {
    float:left;
    margin-left:9px;
    width:243px;
    height:476px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: top;
}

.cont_mkt01{
    float:left;
    margin-top:-3px;
    text-shadow: 1px 1px 0px #fff;
    width:740px;
    height:306px;
    text-align: -webkit-center;
    text-align: -moz-center;
    vertical-align: top;
    background-image: url(indeximages/marketplace_header.jpg);
    background-repeat: repeat-x;
}

.cont_mkt01txt{
    width:680px;
    height:186px;
    float:left;
    margin-left:30px;
}

.cont_txt {
    float:left;
    margin:0;
    text-align:left;
    width:340px;
    height:120px;
    font-size: 16px;
    color: #444;
    line-height: 24px;
}


.cont_mkt02{
    float:left;
    margin-left:6px;
    width:240px;
    height:305px;
}

.mkt_getstart {
    float:left;
    margin:0;
    width:240px;
    height:78px;
}

.mkt_getstart2 {
    float:left;
    margin-left:6px;
    width:240px;
    height:227px;
}

.cont_1 {
    float:left;
    margin:0;
    width:240px;
    height:250px;
}

.cont_2 {
    float:left;
    margin-left:10px;
    width:240px;
    height:250px;
}

.cont_3 {
    float:left;
    margin-left:10px;
    width:240px;
    height:250px;
}

.cont_4 {
    float:left;
    margin-left:6px;
    margin-top:-5px;
    width:240px;
    height:261px;
}

.box_bg2{
    background-image: url(indeximages/box_bg2.jpg);
    background-repeat: repeat-y;
    background-position: left top;
    vertical-align: top;
    width:240px;
    height:242px;
    margin-top:-5px;
}	

.box_bg20{
    background-image: url(indeximages/box_bg2.jpg);
    background-repeat: repeat-y;
    background-position: left top;
    width:240px;
    height:209px;
    text-align: -webkit-center;
    text-align: -moz-center;
    vertical-align: top;
    float:left;
}

.boxwrap {
    width: 240px;
    height:238px;	
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin: 5px auto;
}

.boxwrap1 {
    width: 240px;
    height:195px;	
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin: 0 auto;
}

.boxwrap .innerbox{
    padding: 15px 20px 0px;
    text-align: left;
    line-height: 18px;
}
.boxwrap h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.boxwrap p {
    padding: 0;	
    margin: 0;
}

.boxwrap1 .innerbox{
    padding: 15px 20px 0px;
    text-align: left;
    line-height: 18px;
}
.boxwrap1 h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.boxwrap1 p {
    width:200px;
    height:36px;
    padding: 0;	
    margin: 0;
    font-size:11px;
    display: block;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
}

.boxwrap1 p.small {
    width:200px;
    height:18px;
    padding: 0;	
    margin: 0;
    font-size:11px;
    display: block;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
}

.getstartedwrap {	
    text-align: center;
    margin: 5px auto;
    width: 240px;
    height:52px;
}

.getstartedwrap1 {	
    text-align: center;
    margin: 5px 0 0 -7px;
    width: 240px;
    height:52px;
}

.getstart {
    background: url(indeximages/btn_get_started.jpg) no-repeat;
    position:relative;
    top:5px;
    left:21px;
    width: 197px;
    height: 40px;
    padding:10px 0 0 5px;
}

.getstart:hover {
    background: url(indeximages/btn_get_started_hover.jpg) no-repeat;
}

.getstart a {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;	
    margin-left:-9px;
    margin-top:2px;	
}

.getstart1 {
    background: url(indeximages/btn_get_started.jpg) no-repeat;
    position:relative;
    top:0px;
    left:22px;
    width: 197px;
    height: 40px;
    padding:10px 0 0 5px;
}

.getstart1:hover {
    background: url(indeximages/btn_get_started_hover.jpg) no-repeat;
}

.getstart1 a {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;	
    margin-left:-9px;
    margin-top:2px;	
}

.getstarted {
    background: url(indeximages/btn_get_started.jpg) no-repeat;
    width: 197px;
    height: 40px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 12px;	
    margin: 5px auto;
    text-decoration: none;	
}
.getstarted:hover {
    background: url(indeximages/btn_get_started_hover.jpg) no-repeat;
}

.box1 {
    width: 240px;
    height: 240px;
    text-align: -webkit-center;
    text-align: -moz-center;
    vertical-align: top;
    background-image: url(indeximages/adv_bg.jpg);
}

.box1_cont {
    width:216px;
    height:231px;
    margin:0px 12px 10px 12px;
}

.box1_cont_rdmr {
    width:216px;
    height:24px;
    margin:120px 0 0 78px;
}

.content2 {
    float:left;
    margin-top:16px;
    width:990px;
    height:339px;
}

.conten_1 {
    float:left;
    margin:0;
    width:317px;
    height:339px;
    vertical-align:top;
}

.box_bg{
    background-image: url(indeximages/box_bg.jpg);
    background-repeat: repeat-y;
    background-position: left top;
    width:317px;
    height:324px;
}

.box_bg1{
    background-image: url(indeximages/box_bg.jpg);
    background-repeat: repeat-y;
    background-position: left top;
    width:317px;
    height:325px;
}

.box_bg3{
    background-image: url(indeximages/box_bg.jpg);
    background-repeat: repeat-y;
    background-position: left top;
    width:317px;
    height:323px;
}

.box_in{
    width:305px;
    height:324px;
    padding:7px 0 0 6px;
}

.box_in1{
    width:300px;
    height:325px;
    padding:10px 0 0 13px;
}

.box_in2{
    width:290px;
    height:323px;
    padding:10px 0 0 13px;
}

.featr {
    width:305px;
    height:28px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: top;
}

.latest_news {
    width:305px;
    height:28px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: top;
    margin:-3px 0 0 0;
}

.latest_news_txt {
    width:290px;
    height:71px;
    float:left;
    vertical-align:top;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-top:-7px;
}

.latest_news_txt1 {
    width:290px;
    height:71px;
    float:left;
    vertical-align:top;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-top:5px;
}

.news_bottom {
    width:290px;
    height:14px;
    float:left;
    vertical-align:top;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-top:1px;
}

.news_bottom1 {
    width:290px;
    height:14px;
    float:left;
    vertical-align:top;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-top:-13px;
}

.news_bottom2 {
    width:290px;
    height:14px;
    float:left;
    vertical-align:top;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-top:-19px;
}

.date{
    color:#407e04;
}

.welcome_img {
    width:300px;
    height:172px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: top;
}

.featr_cont1 {
    float:left;
    width:305px;
    height:95px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: middle;
    margin:6px 0 0 2px;
}

.featr_cont2 {
    float:left;
    width:305px;
    height:95px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: middle;
    margin:5px 0 0 0px;
}

.featr_cont3 {
    float:left;
    width:305px;
    height:95px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: middle;
    margin:5px 0 0 0px;
}

.featr_txt {
    margin:-89px 0 0 98px;
    width:202px;
    height:89px;
}

.featr_txt1 {
    margin:-89px 0 0 98px;
    width:207px;
    height:89px;
}

.featr_txtin {
    width:191px;
    height:70px;
    float:left;
    vertical-align:top;
}

.featr_txtin1 {
    width:196px;
    height:70px;
    float:left;
    vertical-align:top;
}

.read_more{
    color:#383838;
    text-align:right;
    text-decoration:none;
    margin-right:5px;
}
.read_more:hover{
    color:#64a91f;
    text-align:right;
    text-decoration:underline;
}

.read_more1{
    color:#383838;
    text-align:right;
    text-decoration:none;
    width:196px;
    height:14px;
}
.read_more1:hover{
    color:#64a91f;
    text-align:right;
    text-decoration:underline;
}

.read_more2{
    color:#383838;
    text-align:right;
    text-decoration:none;
    margin-top:-14px;
    margin-right:-5px;
}
.read_more2:hover{
    color:#64a91f;
    text-align:right;
    text-decoration:underline;
}

.read_more3{
    color:#383838;
    text-align:right;
    text-decoration:none;
    margin-top:-14px;
    margin-right:-5px;
}
.read_more3:hover{
    color:#64a91f;
    text-align:right;
    text-decoration:underline;
}

.read_more4{
    color:#383838;
    text-align:right;
    text-decoration:none;
    margin-top:-14px;
    margin-right:-5px;
}
.read_more4:hover{
    color:#64a91f;
    text-align:right;
    text-decoration:underline;
}

.line{
    background:url(indeximages/line1.jpg) repeat-x;
    background-position:bottom;
    width:305px;
    height:6px;
}

.line0{
    background:url(indeximages/line1.jpg) repeat-x;
    background-position:bottom;
    width:300px;
    height:6px;
}

.line1{
    background:url(indeximages/line1.jpg) repeat-x;
    background-position:bottom;
    width:290px;
    height:8px;
    margin-top:79px;
}

.line2{
    background:url(indeximages/line1.jpg) repeat-x;
    background-position:bottom;
    width:290px;
    height:8px;
    margin-top:77px;
}

.conten_2 {
    float:left;
    margin-left:17px;
    width:317px;
    height:339px;
    vertical-align:top;
}

.welcome {
    width:300px;
    height: 49px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: middle;
    margin:13px 0 0 -5px;
}

.welcome_txt {
    width:300px;
    height:66px;
    text-align: -webkit-left;
    text-align: -moz-left;
    vertical-align: top;
    margin:-13px 0 0 -5px;
}

.rdmr {
    width:300px;
    height:28px;
    vertical-align:bottom;
    margin:3px 0 0 230px;
}

.rdmr1 {
    width:250px;
    height:28px;
    vertical-align:bottom;
    margin:-35px 0 0 238px;
}

.conten_3 {
    float:left;
    margin-left:15px;
    width:324px;
    height:339px;
    vertical-align:top;
}


.h1{
    font-family:Tahoma;
    font-size:26px;
    color:#FFF;
    text-align:left;
}
h4 {
    font-family:Tahoma;
    font-size:16px;
    color:#888;
    text-align:left;
    padding: 0;
    margin: 0;
}
.h11{
    font-family:Tahoma;
    font-size:20px;
    color:#ffffff;
    text-align:left;
    padding-top:8px;
}
.h12 {
    font-family:Tahoma;
    font-size:30px;
    color:#000;
    text-align:left;
    float:left;
    margin-top:30px;
    width:680px;
    height:36px;
}
.h2{
    font-size:20px;
    color:#000;
    text-align:left;
    padding-top:7px;
}
.h22{
    font-size:12px;
    color:#000;
    font-weight:bold;
}
.date{
    color:#407e04;
}


.normal_text1{
    line-height:18px;
}


.getstartedouter {
    width: 228px;
    height: 70px;
    background: url(indeximages/getstartedouter_bg.jpg) no-repeat;
    margin-left: 11px;
    margin-bottom: 8px;
    padding-top: 6px;
}

#loginform {
    padding: 0 15px;
}
#loginform h3 {
    color: #316207;
    font-size: 12px;
    line-height: 1;
    padding: 5px 0;	
    margin-left:-2px;
}
.innerbox h3 {
    color: #316207;	
}
.formdiv {
    float: left;
    clear: both;
    position: relative;	
    margin: 0px auto 5px;
    line-height: 1;
    padding: 0;
    border: 0;
}
.formdiv label {
    float: left;
    text-align: left;
    width: 50px;
    padding-right: 15px;
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 11px;
}
.formdiv input {
    font-size: 11px;
    float: left;
    width: 200px;
    border: 1px solid #bbbbbb;	
    padding: 4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.formfooter {
    float: left;
    clear: both;
    position: relative;	
    width: 100%;
}	
.forget{
    float: left;
    padding-top: 13px;
}
.submitform {
    display: block;
    float: right;
    margin-top: 8px;
    cursor: pointer;	
}
.formfooter div {
    clear: both;
    padding-top: 10px;
    margin-left:-1px;
}
.formfooter a {
    color: #6da536;
    text-decoration: none;
}
.formfooter a:hover {
    color: #000000;
}
.roundbox {
    width: 350px;	   
}
.middlebox {	
    padding-left: 20px;
}

.midline {
    float:left;
    vertical-align: middle;
    width:1px;
    height:320px;
    margin-top:64px;
    border-left: 1px solid #8bcf48;	

}
.roundbox h3 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 24px;
    color: #316207;
    font-family: Tahoma, Geneva, sans-serif;
}
.roundbox h4 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 14px;
}
.topbox {
    width: 350px;
    height: 10px;
}
.btmbox {
    width: 350px;
    height: 10px;
}
.midbox {
    width: 350px;
    height:320px;
    padding: 10px 20px;
}	
.leftmid {
    float: left;
    width: 150px;
    height:168px;	
}
.rightmid {
    float: left;
    margin-left: 10px;
    width: 150px;
    height:168px;
}
.fullmid {
    clear: both;
    height:93px;
    width: 310px;
    padding-top: 10px;
}
.silverbox {
    width: 240px;
    background: url(indeximages/silver_mid.png) repeat-y;
    margin-bottom: 10px;
}
.silveroutter {
    background: url(indeximages/silver_top.png) no-repeat top center;
}
.silverinner {
    background: url(indeximages/silver_btm.png) no-repeat bottom center;
    padding: 15px 20px;
}
.silverbox h3 {
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 16px;
    color: #316207;
}

.footer {
    float:left;
    width:1343px;
    height:69px;
    background-color:#ffffff;
}

.bottom_link {
    float:left;
    margin-left:335px;
}

.bottom_link ul {
    display:block;
    margin:0;
    padding:0;
    list-style:none;
}

.bottom_link ul li {

    padding:35px 0 0 5px;
    display:inline;
    float:left;
    list-style:none;
    font-size:12px;
}

.bottom_link a{
    padding:0 5px;
    float:left;
    color:#545f1d;
    text-decoration:none;
    text-align:left;
    padding:0;
}

.bottom_link a:hover{
    font-size:12px;
    color:#000000;
    text-decoration:none;
}

.social_link {
    float:left;
    margin-left:10px;
}

.social_link ul {
    display:block;
    margin:0;
    padding:0;
    list-style:none;
}

.social_link ul li {
    margin:30px 0 0 10px;
    display:inline;
    float:left;
    list-style:none;
}

.social_link a:hover{
}


.footer001 {
    float:left;
    margin:20px 0 20px 0;


    height:69px;
    background-color:#ffffff;
}

.bottom_link01 {
    float:left;
    margin-left:170px;
}

.bottom_link01 ul {
    display:block;
    margin:0;
    padding:0;
    list-style:none;
}

.bottom_link01 ul li {

    margin:20px 0 0 5px;
    display:inline;
    float:left;
    list-style:none;
    font-size:11px;
}

.bottom_link01 a{

    float:left;
    color:#545f1d;
    text-decoration:none;
    text-align:left;
    padding:0;
}

.bottom_link01 a:hover{
    font-size:11px;
    color:#000000;
    text-decoration:none;
}

.social_link01 {
    float:left;
    margin-left:10px;
}

.social_link01 ul {
    display:block;
    margin:0;
    padding:0;
    list-style:none;
}

.social_link01 ul li {
    margin:18px 0 0 10px;
    display:inline;
    float:left;
    list-style:none;
}

.social_link01 a:hover{
}

.menubar{
    margin-left:620px;
    margin-top:4px;
    width:450px;
    height:24px;
}

.menubar ul {
    list-style:none;
    display:inline;
}

.menubar li{
    display:inline;
    font-weight:bold;
    color:#4d4e50;
    text-align:center;
    margin: 0 1px 0 0;
    padding:6px;
    border-radius: 4px 4px 0 0;
    border:1px solid #8e908f;
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */


}
.menubar li:hover{
    background:#fff;
    color:white;
}

.menubar li a{
    color:#4d4e50;
    text-decoration:none;	
}

.menubar ul li.active {
    background:#fff;
}

.button{
    margin:0 5px 0 0;
    padding:3px 5px 3px 5px;
    border:1px solid #b5b5b5;
    background-color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.shadowbutton{
    margin:0 5px 0 0;
    padding:3px 5px 3px 5px;
    border:1px solid #b5b5b5;
    background-color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}