a{ text-decoration:none;}




body {
    margin:0px;
    height:100%;
    font:normal 12px Arial, Helvetica, sans-serif !important;
    color:#666;
}
ul {
    margin:0px;
    padding:0px;
}
li{
    margin:5px 20px 0 0;
    list-style:none;
    float:left;
    font-size:12px;
    color:#fff;
}
.button{
    margin:0 5px 0 0;
    padding:3px 5px 3px 5px;
    border:1px solid #b5b5b5;
    background-color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.clear{clear:both;} 

#topnav{
    height:25px;
    background-color:#4f4f4f;
}
#toplogomenu{
    margin:0 auto;
    height:25px;
    width:960px;
}
#toplogomenu1{
    float:left;
}
#toplogomenu1 ul {
    margin:0px;
    padding:0px;
}
#toplogomenu1 a{
    margin:0px 10px 0 0;
    list-style:none;
    float:left;
    font-size:12px;
    color:#dcdcdc;
    padding:5px;
}

#toplogomenu1 a:hover{
    color:#fff;
}
#toplogomenuselect{
    margin:0px 10px 0 0;
    list-style:none;
    float:left;
    font-size:12px;
    color:#dcdcdc;
    padding:5px;
    background-color:#5b9222;
}
#toplogomenu2{
    float:right;
}
#toplogomenu2 ul {
    margin:0px;
    padding:0px;
}
#toplogomenu2 a{
    margin:0px 10px 0 0;
    list-style:none;
    float:left;
    font-size:12px;
    color:#dcdcdc;
    padding:5px;
}
#toplogomenu2 a:hover{
    color:#fff;
}
#mainbanner{
    background:url(images/bannerbg.png) repeat-x;
    height:98px;
    border-bottom:8px solid #4f4f4f;
    position:relative;
}
#container{
    margin:15px auto;
    background:url(images/containerbg.png) no-repeat;
    width:960px;
}
#homecontainer{
    margin:-50px auto;
    background:url(images/mainbg.png) no-repeat;
    width:960px;
    position:relative;
}
#containerbox{
    margin:0 auto;
    width:920;
    /*border:1px solid blue;*/
    padding: 5px 0 0 0;
}
.alert{
    margin:15px 0 0 0;
    padding:10px;
    border:0px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}
#containerheader{
    /*border:1px solid blue;*/
    font-weight:bold;
    float:left;
    padding:16px 0 16px 0;
    width:700px;
}
#searchbox{
    /*border:1px solid blue;*/
    font-weight:bold;
    float:left;
    padding:14px 0 0 0;
}
#searchbutton{
    /*border:1px solid blue;*/
    font-size:12px;
    float:right;
    margin:11px 0 0 0;
    padding:3px 5px 3px 5px;
    border:none;
    background-color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e0e0 0%, #a5a5a5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#a5a5a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e0e0 0%,#a5a5a5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e0e0 0%,#a5a5a5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e0e0 0%,#a5a5a5 100%); /* IE10+ */
    background: linear-gradient(top,  #e0e0e0 0%,#a5a5a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}
.title{
    font-size:16px;
    color:#467618;
    font-weight:bold;
    padding:20px 0 10px 0;}

.buttonmenu{
    float:left;}

.buttonmenudetails{
    float:right;}

.tableheader{
    margin:10px 0 0 0;
    padding:8px 0 8px 0;
    height:14px;
    background-color:#676767;
    color:#fff;
    text-align:right;
}
.tablefooter{
    margin:10px 0 10px 0;
    padding:8px 0 8px 0;
    height:14px;
    border:1px solid #ccc;
    color:#333;
    background: #f2f2f2;
    text-align:right;
}
.tabletext{
    padding:8px 0 8px 0;
    height:14px;
    background-color:#f2f2f2;
    color:#333;
    text-align:right;
}

.tabletext1
{
    background-color:#f2f2f2;
    border-bottom:1px solid #ccc;
    color:#333;
    margin:0 0 5px 0;
}
.daterangetitle{
    color:#000;
    text-align:right;
    margin:0 0 4px 0;  
}
.daterange{
    color:#0052a4;
    text-align:right;
}
.checkbox{
    margin:0 0 0 10px;
    width:50px;
    float:left;
    text-align:left;
}
.Compaign{
    width:200px;
    float:left;
    text-align:left;
}
.name{
    color:#1c5180;
    Font-weight:bold;
    width:200px;
    float:left;
    text-align:left;
}
.Created{
    width:80px;
    float:left;
}
.Status{
    width:80px;
    float:left;
}
.Budget{
    width:80px;
    float:left;
}
.CPC{
    width:80px;
    float:left;
}
.Impressions{
    width:80px;
    float:left;
}
.Clicks{
    width:80px;
    float:left;
}
.CTR{
    width:80px;
    float:left;
}
.Cost{
    width:80px;
    float:left;
}
.accounttotal{
    font-weight:bold;
    color:#5e8c31;
    float:left;
    margin:0 10px 0 0;
}
.showing{
    width:480px;
    margin:0 10px 0 10px;
    float:left;
    text-align:left;
}
.numbernav{
    margin:10px 0 0 0;
    float:right;
}
.numbernav ul{
}

.numbernav li{
    margin:0 5px 0 0;
    padding:5px 10px 5px 10px;
    color:#fff;
    background-color:#8fcf4e;
    border:1px solid #8fcf4e;
}   
.numbernav li:first-child{
    font-weight:bold;
    margin:0 5px 0 0;
    padding:5px 10px 5px 10px;
    color:#666;
    background-color:#fff;
    border:1px solid #b2b2b2;
}
.numbernav li:last-child{
    font-weight:bold;
    margin:0;
    padding:5px 10px 5px 10px;
    color:#666;
    background-color:#fff;
    border:1px solid #b2b2b2;
}
.footer{
    margin:20px 0 0 0;
    padding:10px 0 10px 0;
    border-top:1px solid #ccc;
    font-size:11px;
    color:#979797;
    text-align:center;
}
.footer ul{
    margin:0;
    padding:0;
}
.footer li{
    border-left:1px dotted #ccc;
    margin:0 10px 0 0;
    padding:0 0 0 10px;
    font-size:11px;
    color:#979797;
    text-align:center;
}
.footer a{
    border-left:1px dotted #ccc;
    margin:0 10px 0 0;
    padding:0 0 0 10px;
    font-size:11px;
    color:#979797;
    text-align:center;
}
.footer a:hover{
    color:#000000;
}
.footer li:first-child{
    border-left:none;
    margin:0px;
}

#cel1{
    width:600px;
    float:left;
    border:1px solid red;}
#cel2{
    width:300px;
    float:right;
    border:1px solid blue;
} 
.headerlist{
    width:280px;
    float:left;
    color:#666;
}
.headerlist ul{
}
.headerlist li{
    color:#666;
    line-height:18px;
}
.headerlist li:first-child{
    color:#666;
    font-size:18px;
    font-weight:bold;
}




/*Vimal Style*/
#leftpanel{
    float:left;
    border-right:1px solid #dbdbdb;
    width:200px;
    margin-left:-15px;
}
#rightpanel{
    float:right;
    border-right:1px solid #dbdbdb;
    width:238px;
    margin-right:-15px;
}
#formcontainer{
	float:left;
	width:695px;
	padding-top: 35px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#010101;
}
#leftpanel li{
    color:#666;
    font:normal 12px Arial, Helvetica, sans-serif;
    float:none;
    margin:0;
    border-bottom: 1px solid #dbdbdb;
    padding:25px;
}
#leftpanel li span{
    display:block;
}

.leftnav-header{
    font-size:16px;
    font-weight:bold;
}
.navactive{
    background-color:#a6d47a;
    color:black;
}
.form-label{
	font-weight:bold;
	color:#010101;
	width: 30%;
	text-align: right;
	padding-top: 5px;
}
.form-widget{
	padding-left:10px;
	margin-bottom: 20px;
}
.form-widget input{
	padding:3px;
	margin:0;
	border: 1px solid #CFCFCF;
}
.form-widget .name-inpt{
	width:380px;
}
.form-widget textarea{
	height:115px;
	width:380px;
	border: 1px solid #CFCFCF;
}
.form-widget .time-inpt{
	width:60px;
}
.form-widget .time-div{
	padding-right:10px;
}
.form-widget .input-div{
	padding-right:10px;
}
.form-widget .calendar-div{
	padding-right:30px;
}
.formrow div{
	float:left;
}
.formrow .form-button{
	float: none;
	width: 150px;
}
.calendar-icn{
	background: url("images/calendar-icn.png") no-repeat scroll 0 0 transparent;
	padding: 8px 7px;
	display: inline-block;
}
.currency{
	font-weight:bold;	
}
.menubar{
    margin: 0 auto;
    position: inherit;
    top: 71px;
    width: 960px;
}
.menubar li{
  font-weight:bold;
	color:#4d4e50;
	width:90px;
	text-align:center;
	margin: 0 10px 0 0;
  padding:6px 0 6px 0;
	border-radius: 4px 4px 0 0;
  background: #efefef; /* Old browsers */
background: -moz-linear-gradient(top,  #efefef 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(top,  #efefef 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

	
}
.menubar li:hover{
	background-color:#707070;
	color:white;
}
.menubar li:hover  .dropdown{
	display:block;
}

.menubar li a{
	color:#4d4e50;
	text-decoration:none;	
}
#drpdwn1{
	background-color: #ccc;
}
.dropdown{
  font-weight: normal;
	display:none;
	background-color: #ccc;
	position: relative;
	top: 10px;
	box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  margin:4px 0 0 0;
}
.dropdown li{
  text-align:left;
	color:#6666;
  font-weight:normal;
	border-bottom: 1px solid #ccc; 
	background-color: #ccc;
	border-radius: 0px;
	padding:5px;
  font-weight: normal;
}
.dropdown li:hover{
	background-color:#707070;
	color:#666 ;

}








.foot{ float:left; width:906px; border-top:1px solid #cbcbcb; margin:50px 0 20px 0;}
.foot ul{ margin:12px 0 0 0; padding:0;}
.foot li{ margin-left:2px; float:left; color:#979797; font-size:11px;}
.foot li a{ color:#979797; font-size:11px;}
.foot li a:hover{ color:#666;}

.question {
position: absolute;
display: inline;
text-align: center;
width: 174px;
height: 78px;
font-size: 13px;
line-height: 1.5em;
background: url('images/bubble.png') left top no-repeat;
padding: 10px 0 0 0;
text-shadow: 0px 1px 0px #fff;
margin-left: -7em;
margin-top: -6em;
opacity: 0;
}

.yes{
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #434d17;
text-shadow: 0px 1px 0px #fff;
background: url('images/buttony.png') left top no-repeat;
}
.cancel {
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #fff;
text-shadow: 0px 1px 0px #000;
background: url('images/buttonn.png') left top no-repeat;
}


