


.content h2{
	font:bold 16px/30px Arial, Helvetica, sans-serif;
	color:#467618;
}

.left {
	float:left;
}
.right {
	float:right;
}

.pad10 {
	padding:15px;
}

.leftbox {
	width:615px;
}

.boxbg {
	background:#f9f9f9;
	border-left:solid 3px #ededed;
	border-right:solid 3px #ededed;
	padding:15px 15px;
}

.form {
	font:bold 12px/25px Arial, Helvetica, sans-serif;
	color:#000;
}

.form span {
	width:150px!important;
}

dd input {
	border:solid 1px #cfcfcf;
	min-height:25px;
	margin-left:10px;
}

.mar10 {
	margin-bottom:10px;
}

dl {
	margin-bottom:50px;
}

dl dt {	
	color:#000;
	float:left; 
	font-weight:bold; 
	font:Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:12px;	
	margin-right:0px; 
	padding:5px 0px;  
	width:125px; 
}

dl dd {
	margin:2px 0; 
	padding:5px 0;
}

.listmenu {
	margin-left:40px;
}
.listmenu select {
	border:solid 1px #cfcfcf;
	padding:2px 0px;
	margin-left:10px;
}

.txtarea {
	border:solid 1px #cfcfcf;
	padding:2px 0px;
	margin-left:10px;
	width:350px;
	height:100px;
}

.rightbox {
	width:271px;
	background:#ededed;
}

.rightbox h3 {
	font:bold 13px/20px Arial, Helvetica, sans-serif;
	color:#467618;
	border-bottom:solid 1px #fff;
	padding-left:15px;
	padding-bottom:5px;
}

.rightbox .txt {
	font:12px/30px Arial, Helvetica, sans-serif;
	color:#000;
}

.bold {
	font-weight:bold;
}

.inputa {
	border:solid 1px #cfcfcf;
	min-height:25px;
	margin-left:10px;
	width:300px;
}

.inputb {
	border:solid 1px #cfcfcf;
	min-height:25px;
	margin-left:5px;
	width:50px;
	margin-right:10px;
}

.margina {
	margin-top:15px;
}

.height {
	height:10px;
}

.accordiantxt {
	width:450px;
	margin-left:75px;
	border-top:dashed 1px #dcdcdc;
	font:12px/25px Arial, Helvetica, sans-serif;
	color:#000;
}

.accordiantxt p {
	font-weight:bold;
	padding-top:5px;
}

.whitebg {
	width:571px;
	margin:0 auto;
}
.white-txt {
	background:#fff;
	border-left:solid 1px #d5d5d5;
	border-right:solid 1px #d5d5d5;
	font:12px/25px Arial, Helvetica, sans-serif;
	color:#000;
}

.white-txt-border {		
	width:530px;
	margin-left:20px;
}
.white-txt-border p {border-bottom:dashed 1px #dcdcdc; padding-bottom:5px; font-weight:bold; margin-bottom:10px;}
.box-wd {
	width:200px;
	margin-right:20px;
}

.grayboxbg {
	background:#eaeaea;
	border-left:solid 1px #d5d5d5;
	border-right:solid 1px #d5d5d5;
	width:569px;
}

.font-weight{
	font-weight:bold;
}

.contenttxt {
	font:12px/25px Arial, Helvetica, sans-serif;
	color:#000;
}

.menubg {
	background:url(images/menu-bg.jpg) repeat-x;
	height:45px;
}

.menubg ul {
	padding:0px;
	margin:0px;
	
}

.menubg ul li {
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#467618;
	display:inline;
}

.menubg ul li span {
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:normal!important;width:164px;
	padding-left:50px;
}

.menu1 {
	width:164px;
	padding-left:50px;
}

.menu1 a{
	width:164px;
	padding-left:50px;
}

.menu1 a:hover {
	background:url(images/menu1.png) no-repeat;
	display:block;
	height:43px;
	width:164px;
	padding-left:50px;
}
